:root {
  --primary-bg-color: #DCC9A8;
  --primary-font-color: #332D25;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Sofia Sans", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-font-color);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
}


.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--primary-font-color);
    padding: 5px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.3rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3rem;
    border-top: 1px solid var(--primary-font-color);

    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.skills ul {
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 0.9rem;
    max-width: 268px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;

    padding-inline-start: 0;
}

.skills li:not(:first-child)::before {
    content: "•";
    margin-right: 0.5rem;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
}

.circle {
    border: 1px solid var(--primary-font-color);
    background-color: var(--primary-bg-color);
    border-radius: 100%;
    animation: outandaway 500ms forwards;
}

@keyframes outandaway{
  0% {
    transform: scale(0.2);
  } 
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

footer {
  text-align: right;
  opacity: 0.6;
  font-size: 0.85rem;
  padding-right: 1rem;
}
