:root {
  --primary-bg-color: #DCC9A8;
  --primary-font-color: #332D25;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Sofia Sans", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-font-color);
    height: 100%;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    border: 2px solid var(--primary-font-color);
    color: var(--primary-font-color);
    background-color: #B2A68C;
    border-radius: 10px;
    padding: 5px;
}

.me {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.contact {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.name-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flag-pole {
    border-left-color: #332D25;
    border-left-width: 2px;
    border-left-style: solid;
    height: 25px;
    border-top-left-radius: 1px;
}

.flag {
    border-radius: 1.5px;
}