:root {
  --primary-bg-color: #ffffff;
  --primary-font-color: #000000;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  user-select: none;
}

body {
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-font-color);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--primary-font-color);
    padding: 5px;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.3rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--primary-font-color);
    margin-left: 15px;
    padding-left: 10px;
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
}

.circle {
    border: 1px solid var(--primary-font-color);
    background-color: var(--primary-bg-color);
    border-radius: 100%;
    animation: outandaway 500ms forwards;
}

@keyframes outandaway{
  0% {
    transform: scale(0.2);
  } 
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

footer {
  text-align: right;
  opacity: 0.6;
  font-size: 0.85rem;
  padding-right: 1rem;
}
